<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OpenGLES-01.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>739A665A1FAC642500D8B1FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>739A66731FAC642600D8B1FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>739A667E1FAC642600D8B1FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
